@import 'ext/solarized-light';

div.highlighter-rouge {
	margin: 40px 0;
}

div.highlight {
	padding: 30px 150px;
}

pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
	background-color: #000000;
}
