<header>
    <h1>CaesarSec Blog</h1>
    <p>This is an optional section which is a subtitle</p>
    
    <nav>
        <a href="/"><img src="" alt="Icon"></a>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/posts'>Blog Posts</a>
    </nav>
    <links>
        <a href="https://twitter.com">Twitter icon</a>
        <a href="https://github.com">Github Icon</a>
        <a href="#">Email Icon</a>
        <a href="https://instagram.com">Instagram Icon</a>
    </links>

    
</header>