<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Helping You Get Sh*t Done Online - securibee</title>
<link rel="canonical" href="">
<meta property="og:site_name" content="securibee">
<meta property="og:title" content="Helping You Get Sh*t Done Online - securibee">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image:alt" content="Page image for securibee">
<meta name="twitter:image:alt" content="Page image for securibee">
<meta property="og:image"
    content="">
<meta name="twitter:image"
    content="">
<meta name="image"
    content="">
<meta name="description"
    content="I make websites, hack for good, curate content, optimize processes, and build communities.">
<meta name="twitter:description"
    content="I make websites, hack for good, curate content, optimize processes, and build communities.">
<meta property="og:description"
    content="I make websites, hack for good, curate content, optimize processes, and build communities.">
<link rel="icon" href="/images/meta/favicon.svg" type="image/svg+xml">
<link rel="alternate" type="application/rss+xml" href="">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/fonts/fonts.css?1633988286441">
<link rel="stylesheet" href="/css/lite-yt-embed.css">
